
.section{
    
    margin: auto;
    color: rgb(255, 255, 255);
    background-image: url('image/night.jpg');
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 400px;
    padding: 0px 0vw;
    align-content: center;
    
    

}

.pink{
    background-image: url('image/night.jpg');
    height: 700px;
}
.red{
    background-image: url('image/night.jpg');
    height: 700px;
}
.dark{
    background-image: url('image/night.jpg');
    height: 700px;
}
.blue{
    
    height: 700px;
}

